<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<h2>Valid Routes</h2>
<% if (routes && routes.length) { %>
  <ul>
    <% routes.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
<% } %>